<style>
    .items {
        gap: 150px;
    }
    .item {
        border: 3px solid darkorchid;
        padding: 10px;
        border-radius: 15px;
    }
</style>

<div class="blog">
    <h1 class="dmagenta">Blogs 24</h1>
    <div class="items d-flex j-center">
        <div class="item">
            <h4>title one :)</h4>
            <p>this is test txt</p>
        </div>
        <div class="item">
            <h4>title one :)</h4>
            <p>this is test txt</p>
        </div>
        <div class="item">
            <h4>title one :)</h4>
            <p>this is test txt</p>
        </div>
        <div class="item">
            <h4>title one :)</h4>
            <p>this is test txt</p>
        </div>
        <div class="item">
            <h4>title one :)</h4>
            <p>this is test txt</p>
        </div>
    </div>
</div>