<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bluestone</title>
    <link rel="icon" type="image/png" href="Images/header/header-1/logo-bluestone.png">
    <link rel="stylesheet" href="/Styles/app.css">
</head>

<body>
    <header class="header">
        <div class="header-wrapper">
            <div class="container">
                <div class="header-top">
                    <div class="header-top_language">
                        <p class="header-top_tex">India | Europe | USA</p>
                    </div>
                    <div class="header-top_relationship">
                        <div class="heaeder-top_number">
                            <img src="/Images/header/header-1/number.svg" alt="number" class="header-top_img">
                            <p class="header-top_num">+91 98253 53267, 99251 77600</p>
                        </div>
                        <span class="slash">|</span>
                        <div class="heaedr-top_email">
                            <img src="/Images/header/header-1/email.svg" alt="email" class="header-top_email-img">
                            <p class="header-top_email-text">info@bluestoneworldwide.com</p>
                        </div>
                        <span class="slash">|</span>
                        <div class="header-top_social">
                            <img src="/Images/header/header-1/twi.svg" alt="twitter" class="header-top_twitter">
                            <img src="/Images/header/header-1/facebook.svg" alt="facebook" class="header-top_facebook">
                            <img src="/Images/header/header-1/yout.svg" alt="youtube" class="header-top_youtube">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <nav class="nav">
                <div class="nav-wrapper">
                    <div class="nav-logo">
                        <a href="#" class="nav-logo_link">
                            <img src="Images/header/header-2/logo-bluestone.png" alt="nav logo" class="nav-logo_img">
                        </a>
                    </div>
                    <div class="menus">
                        <ul class="menu">
                            <li class="menu-item">
                                <a href="#" class="menu-item_link">Home</a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-item_link">Company</a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-item_link">Services</a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-item_link">Exhibitions</a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-item_link">Our Work</a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-item_link">Blogs</a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-item_link">Resource</a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-item_link">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="nav-button">
                        <a href="#" class="nav-btn_link">Get a Quote</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main class="main">

        <section class="home">
            <div class="home-wrapper">
                <div class="home-image_left">
                    <h1 class="home-title">Design. Create. and Build.</h1>
                    <p class="home-description">Exhibition trade stand designers and builders in Europe, UK, and
                        throughout India. With twenty years of experience in exhibition field and know we started
                        new Start-Up with our strong team.</p>
                    <a href="#" class="home-link">Start Your Project
                        <img src="Images/home/home-link.svg" alt="" class="home-link-svg">
                    </a>
                </div>
                <div class="home-image_right">
                    <img src="Images/home/home.png" alt="" class="home-img_ri">
                </div>
            </div>
        </section>

        <section class="design">
            <div class="container">
                <div class="design-wrapper">
                    <div class="bluestone">
                        <img src="Images/Design/Union 9.svg" alt="bluestone" class="bluestone-img">
                        <h2 class="bluestone-title">Design, Create
                            and Build bespoke
                            Exhibition Stall</h2>
                    </div>
                    <div class="description">
                        <p class="explanation">In the 20 Years of experience in Exhibition Stall Design and Installation
                            field. Know we are own startup and offering you Exclusive Range of Exhibition Stall and
                            Stand Design in India, Poland, Germany and Europe. We have built our business by taking the
                            time to understand our clients objectives and creating a stand out solution in line with
                            brand & budget.
                        </p>
                        <p class="explanation-2">We pride ourselves in providing a totally project-managed service, from
                            start to finish. Our on-site team are able to install your unique stand before the show,
                            ensuring that it achieves maximum impact and captivates your target market.</p>
                        <div class="description-links">
                            <a href="#" class="description-link">Read More

                            </a>
                            <img src="Images/Design/Icon feather-arrow-right.svg" alt="icon"
                                class="description-link_img">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="what-we_do">
            <div class="container">
                <div class="section-head">
                    <h2 class="section-title">What We Do</h2>
                    <p class="section-description">Best Exhibition Stall Designers in India, Europe and Poland</p>
                </div>
                <div class="what-wrapper">
                    <div class="wrapper-1">
                        <div class="exhibitions">
                            <div class="exhibitions-bg">
                                <img src="Images/What-we-do/Rectangle 229.png" alt="" class="exhibitions-bg_img">
                            </div>
                            <img src="Images/What-we-do/Mask Group 1.png" alt="exhibitions" class="exhibitions-img">
                            <div class="exhibitions-title">
                                <h2 class="exhibition-title_h2">Exhibitions Stall Design &
                                    Fabrications</h2>
                                <div class="exhibitions-links">
                                    <a href="#" class="exhibition-link">Know More
                                        <img src="Images/home/home-link.svg" alt="link" class="exhibitions-link_svg">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="Build">
                            <div class="Build-bg">
                                <img src="Images/What-we-do/Rectangle 229.png" alt="" class="Build-bg_img">
                            </div>
                            <img src="Images/What-we-do/Mask Group 2.png" alt="Build" class="Build-img">
                            <div class="Build-title">
                                <h2 class="Build-title_h2">Booth Design & Build</h2>
                            </div>
                        </div>
                    </div>
                    <div class="wrappwe-2">
                        <div class="Marketing">
                            <div class="Marketing-bg">
                                <img src="Images/What-we-do/Rectangle 229.png" alt="" class="Marketing-bg_img">
                            </div>
                            <img src="Images/What-we-do/Mask Group 3.png" alt="Marketing" class="Marketing-img">
                            <div class="Marketing-title">
                                <h2 class="Marketing-title_h2">Digital Marketing</h2>
                            </div>
                        </div>
                        <div class="branding">
                            <div class="branding-bg">
                                <img src="Images/What-we-do/Rectangle 229.png" alt="" class="branding-bg_img">
                            </div>
                            <img src="Images/What-we-do/Mask Group 4.png" alt="Branding" class="branding-img">
                            <div class="branding-title">
                                <h2 class="branding-title_h2">Designing & Branding</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="work">
            <div class="container">
                <div class="section-head section-head_work">
                    <h2 class="section-title">Our Work</h2>
                    <p class="section-description">We are specialists in multi-use, sustainable exhibition stands and
                        event environments.</p>
                </div>
                <div class="work-wrapper">
                    <div class="work-image-one">
                        <img src="Images/Work/work-1.png" alt="work-1" class="work-img-one">
                    </div>
                    <div class="work-image-two">
                        <img src="Images/Work/work-2.png" alt="" class="work-img-two">
                        <div class="work-two-titlw">
                            <p class="work-two-text">28</p>
                            <p class="work-two-text-2">Nov.</p>
                        </div>
                        <div class="work-box">
                            <h2 class="work-box_title">Krystal Global
                                Engineering Ltd.</h2>
                            <p class="work-box_txt"> <span class="workpbox_span">Exhibition:</span> Dusseldorf, Germany
                            </p>
                            <p class="work-box_km">32 Sqmtr</p>
                            <div class="exhibitions-links">
                                <a href="#" class="exhibition-link exhibition-link--color">Know More
                                    <img src="Images/Work/Icon feather-arrow-right.svg" alt="link"
                                        class="exhibitions-link_svg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="work-image-three">
                        <img src="Images/Work/work-3.png" alt="" class="work-img-three">
                        <div class="work-three-titlw">
                            <p class="work-three-text">21</p>
                            <p class="work-three-text-2">Nov.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="company">
            <div class="container">
                <div class="company-wrapper">
                    <div class="company-description">
                        <div class="company-description_title">
                            <img src="Images/Company/div1/virgool.svg" alt="virgool" class="company-title_image">
                            <h3 class="company_title">You are amazing! You worked so hard for Cady's wedding. </h3>
                        </div>
                        <p class="company_txt">You are amazing! You worked so hard for Cady's wedding. You had every
                            little detail under control you need to run my life! </p>
                        <span class="company_span1">David Warner -</span>
                        <span class="company_span2">Founder </span>
                        <div class="company-image">
                            <img src="Images/Company/div1/left.svg" alt="left" class="company-image_left">
                            <img src="Images/Company/div1/Mask Group 1.png" alt="image1" class="company-image_1">
                            <img src="Images/Company/div1/Mask Group 2.png" alt="image1" class="company-image_2">
                            <img src="Images/Company/div1/Mask Group 3.png" alt="image1" class="company-image_3">
                            <img src="Images/Company/div1/Mask Group 4.png" alt="image1" class="company-image_4">
                            <img src="Images/Company/div1/right.svg" alt="right" class="comapny-image_right">
                        </div>
                    </div>

                    <div class="compan-logo">
                        <div class="company-logo_1">
                            <img src="Images/Company/div2/logo-1.svg" alt="logo1" class="company-logo_img1">
                            <img src="Images/Company/div2/logo-2.svg" alt="logo2" class="company-logo_img2">
                            <img src="Images/Company/div2/logo-3.svg" alt="logo3" class="company-logo_img3">
                        </div>
                        <div class="company-logo_2">
                            <img src="Images/Company/div2/logo-4.svg" alt="logo4" class="company-logo_img4">
                            <img src="Images/Company/div2/logo-5.svg" alt="logo5" class="company-logo_img5">
                        </div>
                        <div class="company-logo_3">
                            <img src="Images/Company/div2/logo-6.svg" alt="logo6" class="comapany-logo_img6">
                            <img src="Images/Company/div2/logo-7.svg" alt="logo7" class="comapany-logo_img7">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="blogs">
            <div class="container">
                <div class="section-head">
                    <h2 class="section-title">Latest Blogs</h2>
                    <p class="section-description">Our latest Blogs/News</p>
                </div>
                <div class="blogs-wrapper">
                    <div class="blogs-questions">
                        <div class="blogs-questions_image">
                            <img src="Images/Blogs/Blogs-1.png" alt="" class="blogs-questions_img">
                        </div>
                        <div class="blogs-questions_descriptions">
                            <div class="blogs-questions_titr">
                                <div class="blogs-questions_months">
                                    <p class="blogs-questions_month1">30</p>
                                    <p class="blogs-questions_month2">Mar</p>
                                </div>
                                <div class="blogs-questions_title">
                                    <h3 class="blogs-questions_h3">Questions To Ask Yourself
                                        Before Renting Or Buying..</h3>
                                </div>
                            </div>
                            <p class="blogs-questions_txt">Trade shows made its place long back while creating a
                                platform to generate business and build professional networks at an international level.
                                Now exhibiting in trade shows is the key..</p>
                            <div class="exhibitions-links blogs-questions_link">
                                <a href="#" class="exhibition-link exhibition-link--color blogs-link">Know More
                                    <img src="Images/Work/Icon feather-arrow-right.svg" alt="link"
                                        class="exhibitions-link_svg blogs-link_svg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogs-questions">
                        <div class="blogs-questions_image">
                            <img src="Images/Blogs/Blogs-2.png" alt="" class="blogs-questions_img">
                        </div>
                        <div class="blogs-questions_descriptions">
                            <div class="blogs-questions_titr">
                                <div class="blogs-questions_months">
                                    <p class="blogs-questions_month1">26</p>
                                    <p class="blogs-questions_month2">Mar</p>
                                </div>
                                <div class="blogs-questions_title">
                                    <h3 class="blogs-questions_h3">Salon VS Foire, quelle est
                                        la différence ?</h3>
                                </div>
                            </div>
                            <p class="blogs-questions_txt">La foire se caractérise comme une manifestation commerciale
                                regroupant des exposants de secteurs d’activité très diversifiés.</p>
                            <div class="exhibitions-links blogs-questions_link">
                                <a href="#" class="exhibition-link exhibition-link--color blogs-link">Know More
                                    <img src="Images/Work/Icon feather-arrow-right.svg" alt="link"
                                        class="exhibitions-link_svg blogs-link_svg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blogs-questions">
                        <div class="blogs-questions_image">
                            <img src="Images/Blogs/Blogs-3.png" alt="" class="blogs-questions_img">
                        </div>
                        <div class="blogs-questions_descriptions">
                            <div class="blogs-questions_titr">
                                <div class="blogs-questions_months">
                                    <p class="blogs-questions_month1">21</p>
                                    <p class="blogs-questions_month2">Mar</p>
                                </div>
                                <div class="blogs-questions_title">
                                    <h3 class="blogs-questions_h3">B2B Marketing Trends to
                                        ensure a successful exhi...</h3>
                                </div>
                            </div>
                            <p class="blogs-questions_txt">The B2B marketing landscape is radically changing. With so
                                many tools on the market that achieve results faster and more efficiently,</p>
                            <div class="exhibitions-links blogs-questions_link">
                                <a href="#" class="exhibition-link exhibition-link--color blogs-link">Know More
                                    <img src="Images/Work/Icon feather-arrow-right.svg" alt="link"
                                        class="exhibitions-link_svg blogs-link_svg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="form">
            <div class="container">


                <div class="form-wrapper">
                    <div class="form-talk">
                        <h2 class="form-talk_title">Do you have
                            a project? Lets Talk.</h2>
                        <p class="form-talk_text">Please fill in the details and we will be in
                            touch shortly or send us email or Call us</p>
                        <p class="form-talk_email">sales@bluestoneworldwide.com</p>
                        <p class="form-talk_number">99251 77600</p>
                    </div>
                    <div class="form-complete">

                        <div class="form-complete_left">
                            <h2 class="form-complete_text">Complete the form below...</h2>

                            <div class="form-complete_name">
                                <input type="text" placeholder="Full Name" class="form-input_name">
                            </div>
                            <div class="form-complete_email">
                                <input type="text" class="form-input_email" placeholder="Business email">
                            </div>
                            <div class="form-select">
                                <select name="" id="" class="form-select_menu">
                                    <option class="option1" value="Select your Country">Select your Country</option>
                                    <option class="option2" value="american">American</option>
                                    <option class="option3" value="iran">iran</option>
                                    <option class="option4" value="Germany">Germany</option>
                                    <option class="option5" value="Italia">Italia</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-complete_right">
                            <div class="form-complete_company">
                                <input type="text" class="form-input_company" placeholder="Your Company Name">
                            </div>
                            <div class="form-complete_phone">
                                <input type="text" class="form-input_phone" placeholder="Phone Number">
                            </div>
                            <div class="form-complete_service">
                                <input type="text" class="form-input_sevice"
                                    placeholder="What service are you Interested in?">
                            </div>
                            <div class="form-btn_wrapper">
                                <div class="textarea">
                                    <textarea name="" id="" cols="30" rows="10"
                                        placeholder="Tell us about your Projects"></textarea>
                                </div>
                                <div class="form-button">
                                    <a href="#" class="form-button_link">Send a request</a>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

            </div>
        </section>

    </main>

    <footer class="footer">
        <div class="container">
            <div class="footer-wrapper">
                <div class="footer-india">
                    <div class="footer-location">
                        <div class="footer-location_wrapper">
                            <div class="footer-location_title">
                                <h2 class="footer-location_tit">BlueStone</h2>
                                <span class="footer-location_span">Empower Your Brand</span>
                            </div>

                            <div class="footer-location_place">
                                <p class="footer-location_txt">INDIA</p>
                                <div class="footer-location_loc">
                                    <img src="Images/Footer/location.svg" alt="location" class="footer-location_img">
                                    <span class="footer-location_address">403, Satya Two, Near Ranna Park Bustop,
                                        Naranpura, Ahmedabad - 380013, Gujarat (India)</span>
                                </div>
                                <div class="footer-location_phone">
                                    <img src="Images/Footer/phone.svg" alt="phone" class="footer-location_phone-img">
                                    <span class="footer-location_number">+91 98253 53267</span>
                                </div>
                                <div class="footer-location_email">
                                    <img src="Images/Footer/email.svg" alt="email" class="footer-location_email-img">
                                    <span class="footer-location_email-span">info@bluestoneworldwide.com</span>
                                </div>
                            </div>
                        </div>

                        <div class="footer-menus_wrapper">
                            <div class="footer-menus-1">
                                <ul class="footer-menu">
                                    <span class="footer-menu_span">Exhibition</span>
                                    <li class="footer-menu_item">
                                        <a href="#" class="footer-menu_link">Exhibition Design</a>
                                    </li>
                                    <li class="footer-menu_item">
                                        <a href="#" class="footer-menu_link">Virtual Events</a>
                                    </li>
                                    <li class="footer-menu_item">
                                        <a href="#" class="footer-menu_link">Merchandise</a>
                                    </li>
                                    <li class="footer-menu_item">
                                        <a href="#" class="footer-menu_link">Event Marketing</a>
                                    </li>
                                    <li class="footer-menu_item">
                                        <a href="#" class="footer-menu_link">Exhibition Stand Builders</a>
                                    </li>
                                    <li class="footer-menu_item">
                                        <a href="#" class="footer-menu_link">Hybrid Events</a>
                                    </li>
                                    <li class="footer-menu_item">
                                        <a href="#" class="footer-menu_link">Event Logistics</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="footer-menus-2">
                                <ul class="footer-menu">
                                    <span class="footer-menu_span">Digital</span>
                                    <li class="footer-menu_item">
                                        <a href="#" class="footer-menu_link">Web Design</a>
                                    </li>
                                    <li class="footer-menu_item">
                                        <a href="#" class="footer-menu_link">Animation</a>
                                    </li>
                                    <li class="footer-menu_item">
                                        <a href="#" class="footer-menu_link">WordPress Development</a>
                                    </li>
                                    <li class="footer-menu_item">
                                        <a href="#" class="footer-menu_link">Email Marketing</a>
                                    </li>
                                    <li class="footer-menu_item">
                                        <a href="#" class="footer-menu_link">SEO</a>
                                    </li>
                                    <li class="footer-menu_item">
                                        <a href="#" class="footer-menu_link">HSocial Marketing</a>
                                    </li>
                                    <li class="footer-menu_item">
                                        <a href="#" class="footer-menu_link">App Design & Development</a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>

                    <div class="footer-location footer-locaton--mt">
                        <div class="footer-location_wrapper">

                            <div class="footer-location_place footer-location_place--mt">
                                <p class="footer-location_txt">POLAND</p>
                                <div class="footer-location_loc">
                                    <img src="Images/Footer/location.svg" alt="location" class="footer-location_img">
                                    <span class="footer-location_address">Telimeny 15, Marki, Post Code 05-270, Warsaw,
                                        Poland (Europe)</span>
                                </div>
                                <div class="footer-location_phone">
                                    <img src="Images/Footer/phone.svg" alt="phone" class="footer-location_phone-img">
                                    <span class="footer-location_number">+48 732 022 871</span>
                                </div>
                                <div class="footer-location_email">
                                    <img src="Images/Footer/email.svg" alt="email" class="footer-location_email-img">
                                    <span class="footer-location_email-span">europe@bluestoneworldwide.com</span>
                                </div>
                            </div>
                        </div>

                        <div class="footer-menus_wrapper">
                            <div class="footer-menus-1">
                                <ul class="footer-menu">
                                    <span class="footer-menu_span">Branding</span>
                                    <li class="footer-menu_item">
                                        <a href="#" class="footer-menu_link">Brand Strategy & Development</a>
                                    </li>
                                    <li class="footer-menu_item">
                                        <a href="#" class="footer-menu_link">Rebranding</a>
                                    </li>
                                    <li class="footer-menu_item">
                                        <a href="#" class="footer-menu_link">Logo Design</a>
                                    </li>
                                    <li class="footer-menu_item">
                                        <a href="#" class="footer-menu_link">Packaging Design</a>
                                    </li>
                                    <li class="footer-menu_item">
                                        <a href="#" class="footer-menu_link">Infographics</a>
                                    </li>
                                    <li class="footer-menu_item">
                                        <a href="#" class="footer-menu_link">Presentations</a>
                                    </li>
                                </ul>
                            </div>
    
                            <div class="footer-menus-2">
                                <ul class="footer-menu">
                                    <span class="footer-menu_span">Print</span>
                                    <li class="footer-menu_item">
                                        <a href="#" class="footer-menu_link">Direct Mail</a>
                                    </li>
                                    <li class="footer-menu_item">
                                        <a href="#" class="footer-menu_link">Digital Printing</a>
                                    </li>
                                    <li class="footer-menu_item">
                                        <a href="#" class="footer-menu_link">Large Format</a>
                                    </li>
                                    <li class="footer-menu_item">
                                        <a href="#" class="footer-menu_link">Point of Sale</a>
                                    </li>
                                    <li class="footer-menu_item">
                                        <a href="#" class="footer-menu_link">Personalised Mailing</a>
                                    </li>
                                    <li class="footer-menu_item">
                                        <a href="#" class="footer-menu_link">Exhibition & Event Planning</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>

            <div class="footer-copyright">
                <div class="footer-copyright_title">
                    <p class="footer-copyright_txt">Copyright © 2022 Bluestone Exhibition and Event Pvt. Ltd.. All
                        rights reserved</p>
                    <div class="footer-copyright_use">
                        <a href="#" class="footer-copyright_use-txt1">Terms of Use</a>
                        <a href="#" class="footer-copyright_use-txt2">Privacy Policy</a>
                        <a href="#" class="footer-copyright_use-txt3">Copyright Policy</a>
                    </div>
                </div>
                <div class="footer-copyright_social">
                    <div class="footer-social_logo-1">
                        <img src="Images/Footer/Media/fac.svg" alt="" class="footer-social_img-1">
                    </div>
                    <div class="footer-social_logo-2">
                        <img src="Images/Footer/Media/tw.svg" alt="" class="footer-social_img-2">
                    </div>
                    <div class="footer-social_logo-3">
                        <img src="Images/Footer/Media/ins.svg" alt="" class="footer-social_img-3">
                    </div>
                    <div class="footer-social_logo-4">
                        <img src="Images/Footer/Media/in.svg" alt="" class="footer-social_img-4">
                    </div>
                    <div class="footer-social_logo-5">
                        <img src="Images/Footer/Media/you.svg" alt="" class="footer-social_img-5">
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>