/* Main CSS file */

@import url(./fonts.css);

* {
    font-family: mikhak;
}

.right a:hover {
    color: rgb(247, 153, 167);
}

haeder {
    margin-bottom: 150px;
}

a > button {
    border-radius: 15px;
    border: none;
    transition: all 500ms;
}
a > button:hover {
    background-color: blueviolet;
    color: white;
    transition: all 500ms;
}

footer {
    position: absolute;
    bottom: 0px;
}